@import "/resources/css/app.scss";

.form {
    align-items: center;
    color: $color-primary;
    border: $color-tertiary 3px solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    font: {
        family: "Lexend Deca", sans-serif;
        size: 1.2rem;
        weight: 300;
    };
    gap: 2rem;
    padding: 3rem;
    width: fit-content;

    .fieldBlock {
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .item {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        input[type="text"], input[type="password"] {
            border: $color-tertiary 1px solid;
            border-radius: 0.5rem;
            font: {
                family: 'Lexend Deca', sans-serif;
                size: 1rem;
            }
            height: 2rem;
            padding: 0.5rem 1rem;
            width: 15rem;
        }
    }
}
