@import "/resources/css/app.scss";

.link {
    display: inline-block;
    color: $color-primary;
    font: {
        family: "Lexend Deca", sans-serif;
        size: 1.2rem;
        weight: 300;
    };
    text-decoration: none;

    &:hover {
        color: $color-primary-hover;
    }

    &:active {
        color: $color-primary-active;
    }
}
