* {
    font-family: Montserrat, sans-serif;
}
body {
    margin: 2rem auto;
    padding: 0;
    width: 80%;
}

button, input {
    border-radius: 5px;
    border: royalblue 2px solid;
    background-color: white;
    padding: 0.5rem;
    width: 50%;
    margin: 1rem 0;
}

section {
    margin-bottom: 2rem;
}

h1 {
    color: royalblue;
    font-weight: 600;
}
