html {
    width: 100%;
    height: 100vh;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);;
}

h1 {
    font-family: "Permanent Marker", sans-serif;
    color: papayawhip;
    font-size: 4rem;
    margin-bottom: 1rem;
    filter: drop-shadow(5px 5px 0px hotpink);
}

p {
    font-family: "DM Sans", sans-serif;
    color: dimgrey;
}

img {
    width: 30vw;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10vh 0;
    filter: drop-shadow(0.5rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

body {
    padding-top: 5vh;
    position: relative;
    width: 60vw;
    margin: 10vh auto;
    height: 80vh;
}

div.text {
    position: absolute;
    margin: auto 0;
    padding: 5vw 30vw 5vw 5vw;
    background-color: papayawhip;
    border-radius: 20px;
}

div.button {
    position: relative;
    text-align: center;
    width: 7rem;
    color: papayawhip;
    font-family: "Permanent Marker", sans-serif;
    background-color: hotpink;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;

}