
// your code here
// refer to images in /public with URLs beginning with /
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Noto+Serif+Display:wght@200;400;700&display=swap');

html {
  font-family: 'Noto Serif Display', serif;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  color: white;
  background-color: #2B5554;
}

.left-menu {
  background-color: #163838;
  font-family: 'Cutive Mono', monospace;
  position: relative;
  margin-right: 3rem;

  &__content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    overflow: hidden;
    transition: opacity 0.1s, width 1s;
  }

  &_hidden &__content {
    opacity: 0;
    width: 0;
  }

  &__visibility-toggle {
    font-family: 'Noto Serif Display', serif;
    position: absolute;
    top: 1rem;
    left: 100%;
    width: 2rem;
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0.25em 0.25em 0;
    background-color: #163838;
    transition: 1s;
    cursor: pointer;
  }

  &__header {
    img {
      width: 7rem;
    }
  }

  &__links {
    margin-top: 1rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;

    a {
      font-size: 1.5em;
      color: inherit;
      text-decoration: none;
      padding: 0.5em;

      &:hover {
        background-color: #2B5554;
      }
    }
  }
}

.main {
  background: #2B5554 url("../public/mi6-seal-bg.png") center center/contain no-repeat scroll;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  h1 {
    font-weight: 200;
    font-size: 4rem;
    margin-top: 0;
  }
}
